.wrap {
    width: 900px;
    margin: 10px auto;
  }
  .writeBtnStyle{
      width:500px;
      margin:auto;
      display: block;
  }
  #writeBox{
    margin: 10px auto 30px auto;
    width:800px;
    border: 3px solid #00D1B2;
    border-radius: 5px;
    padding: 50px;
  }
  rect {
    color: #000;
  }
  svg{ background-color: rgb(255, 255, 255);}
  .jungleday[data-level = "0"] {
    fill: lightgray  ;
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }
  .jungleday[data-level = "1"] {
    fill: rgb(0, 50, 21);
    outline: 1px solid rgba(255, 255, 255, 0.25);
  }
  .jungleday[data-level = "2"] {
    fill: rgb(0,100,21);
    outline: 1px solid rgba(255, 255, 255, 0.25);
  }
  .jungleday[data-level = "3"] {
    fill: rgb(0,150,21);
    outline: 1px solid rgba(255, 255, 255, 0.25);
  }
  .jungleday[data-level = "4"] {
    fill: rgb(0,200,21);
    outline: 1px solid rgba(255, 255, 255, 0.25);
  }
  .jungleday[data-level = "5"] {
    fill: rgb(0,250,21);
    outline: 1px solid rgba(255, 255, 255, 0.05);
  }
  #tooltip {
    background: rgb(131, 129, 121);
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    color: rgb(255,255,255);
    font-weight: bold;
  }
