<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>{{uid}}Main Page</title>
  <style>
    .wrap {
      width: 900px;
      margin: 10px auto;
    }
    .writeBtnStyle{
        width:500px;
        margin:auto;
        display: block;
    }
  </style>
</head>
<body>
  <div class="wrap">
    <div class="jumbotron" style="background-color: #00D1B2; color: white;">
      <h1 class="display-4">환영합니다, {{uid}}님</h1>
      <p class="lead">{{uid}}님의 탐험일지</p>
      <p id="uuid" hidden>{{uid}}</p>
    </div>
      <button class="button is-primary text-uppercase writeBtnStyle" id="writeBtn">작성하기</button>
    <div id="writeBox">
      <h5><span class="badge badge-secondary" style="background-color: #00D1B2;">Today story</span></h5>
      <div class="form-group">
        <input type="text" class="form-control" id="inputTitle" placeholder="제목 입력">
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control" id="inputText" placeholder="내용 입력"></textarea>
      </div>
      <h5><span class="badge badge-secondary" style="background-color: #00D1B2;">Today condition</span></h5>
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="condition" >
        <label class="form-check-label" >최상</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="condition" >
        <label class="form-check-label" >상</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="condition" >
        <label class="form-check-label" >중</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="condition" >
        <label class="form-check-label" >하</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="condition" >
        <label class="form-check-label" >최하</label>
      </div> -->
      <button id="submit_btn" class="button is-primary text-uppercase fw-bold mb-2" style="float: right;" onclick=submit()>등록</button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      const $writeBtn = $("#writeBtn");
      const $writeBox = $("#writeBox");
      $writeBox.hide() //먼저 안 보이게
      $writeBtn.on('click', function(){
        if ($writeBtn.text() == '작성하기'){
          $writeBox.show()
          $writeBtn.text('작성닫기')
        } else {
          $writeBox.hide()
          $writeBtn.text('작성하기')
        }
      })
    })
  </script>
  <script>
    function submit() {
      var inputTitle = $("#inputTitle").val();
      var inputText = $("#inputText").val();
      var uid = document.getElementById("uuid").textContent;
      
      var postdata = {'uid': uid,'title':inputTitle,'content':inputText};
      $.ajax({
        type:'POST',
        url: '{{url_for("submitArticle")}}',
        data: JSON.stringify(postdata),
        dataType : 'JSON',
        contentType: "application/json",
        success: function (data) {
          if (data.result == "success") {
            alert('등록되었습니다.')
            location.reload()
          }
        }
      })
    }
  </script>
</body>
</html>